*{
    margin: 0;
    padding: 0;
  
}

body{
    height: 844px;
    width: 390px;
    background-color: purple;
    text-align: center;
    
}

a{
    display: inline-block; 
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 16px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
}

.escondido{
    display: none;

}

button{
    font-weight: bold;
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 16px;
   
}

p{
    font-weight: bold;
    border-radius: 16px;
    color: black;
    font-size: 1.125rem;
    line-height: 1.5;
    background-color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    height: 400px;
}

.gira-duas-vezes {
    display: inline-block;
    animation: girar 1s linear 2 forwards;
    transform-origin: center center;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}